
<style>


p {
	font-size: 18px
}


tr {
	border-bottom: 1px solid black;
	font-size: 18px
}

td, th {
	padding: 8px
}


.page-wrapper{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}


#toc {
	flex: 0 0 250px;
	padding: 1rem;
	max-width: 300px;
	background: #EEEEEE;
	position: sticky;
	top: 0;
	max-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
}

#syllabus{
	flex: 1;
	min-width: 0;
	padding: 1rem;
	overflow-y: auto;
}



/*Mobile Layout: Stack Vertically*/

@media (max-width: 480px){

	#toc {
		width: 100%;
		padding-bottom: 1rem;
	}

	#content {
		flex-direction: column;
		padding-top: 1rem;
	}
}
 

</style>

